In [61]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [52]:
train_df=pd.read_csv("data/train.csv")

In [53]:
train_df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [54]:
# 性別を数値に
train_df["Sex_Int"] = train_df["Sex"].map({"female": 0, "male": 1}).astype(int)

In [55]:
# 年齢の欠損値に平均年齢をいれる
average_age=train_df["Age"].dropna().mean()
train_df.loc[train_df["Age"].isnull(),"Age"] = average_age

In [56]:
# 使用しない属性を除去しデータセットを作る
train_y=train_df["Survived"].values
train_df = train_df.drop(["Survived","Name", "Ticket", "Sex", "SibSp", "Parch", "Fare", "Cabin", "Embarked", "PassengerId"], axis=1)
train_x=train_df.values

In [59]:
print(train_x.shape)
print(train_y.shape)

(891, 3)
(891,)

In [62]:
# 訓練
lr = LogisticRegression()
lr.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [73]:
# test data作成
test_df=pd.read_csv("data/test.csv")
# 性別を数値に
test_df["Sex_Int"] = test_df["Sex"].map({"female": 0, "male": 1}).astype(int)
# 年齢の欠損値に平均年齢をいれる
average_age=test_df["Age"].dropna().mean()
test_df.loc[test_df["Age"].isnull(),"Age"] = average_age
test_id_list=test_df["PassengerId"].values
test_df = test_df.drop(["Name", "Ticket", "Sex", "SibSp", "Parch", "Fare", "Cabin", "Embarked", "PassengerId"], axis=1)
test_x=test_df.values

In [74]:
print(test_x.shape)

(418, 3)

In [75]:
pred_y=lr.predict(test_x)

In [79]:
submit_df=pd.DataFrame()
submit_df["PassengerId"]=test_id_list
submit_df["Survived"]=pred_y
submit_df.tail(10)

     PassengerId  Survived
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [82]:
submit_df.to_csv("result/submit.csv",index=False)